<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="Index.js"></script>
</head>
<body>
    <center>
        <button id="main_button" onclick = Redirect()>Fazer Download de Videos Youtube</button>
    </center>
</body>
</html>


<!--

    flask --app app run

<form name="frm">
    Url: <input type="url" size="45" 
        maxlength="105" placeholder="http://youtube.com"/><br><br>
        <input type="submit" value="Enviar"/>
        <input type="reset" value="Limpar"/><br>
</form>

-->