<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Conta-te-me</title>
    </head>
    <body style="background-color: rgb(27, 26, 26);">
        <center>
            <div style="color:white">
                <ul>
                    <li>
                        <h3>Telefone:</h3>
                        <a href="tel:40028922"><p style="color:white">Tel: 40028922</p></a>
                    </li>
                    <li>
                        <h3>Email:</h3>
                        <a href="mailto:IchigoReiDelas@gmail.com"><p style="color:white">Email:IchigoReiDelas@gmail.com</p></a>
                    </li>
                    <li>
                        <h3>Twitter:</h3>
                        <a href="Contato.html"><p style="color:white">Isso é coisa de militante credo</p></a>
                    </li>
                    <li>
                        <h3>Tinder</h3>
                        <a href="Tinder.html"><p style="color:white">clica aqui... uii</p></a>
                    </li>
                    <li>
                        <h3 style="color:white">OnlyFans</h3>
                        <a href="OnlyFans.html"><p style="color:white">somente uma des graça por dia</p></a>
                    </li>
                </ul>
            </div>
            <br>
            <br>
            <button>
                <h3>
                    <a href="Index.html"><p style="color:black">Pagina Inicial</p></a>
                </h3>
            </button>
        </center>
    </body>
</html>