<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ESCURO</title>
    </head>
    <body style="background-color: black;">
        <center>
            <video autoplay src="Files/camuflage.mp4">camuflage</video>
            <br>
            <button>
                <a href="Index.html"><p style="color: black">volta inicio</p></a>
            </button>
        </center>
    </body>
</html>