<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Figurantes</title>
        <link rel="icon" href="Files/faviconFig.jpg" type="image/x-icon">
    </head>
    <body style="background-color:rgb(15, 15, 15);">
        <center>
            <h1 style="color:white">Principais Figurantes</h1>
            <br>
            <br>
            <h2 style="color:white">Ordenados em ordem alfabética:</h2>
            <br3
            <div style="color:white">
                <ul>
                    <li>
                        <h3>
                            Abarai Renji
                        </h3>
                    </li>
                    <img src="Files/Abarai Renji.jpg" alt="Abarai Renji">
                    <p style="color:white">
                        Chatinho, ninguem liga muito pra ele, dificil de shippar até com a Rukia, Bankai de minhoca porem tem um fisíco foda.
                    </p>

                    <li>
                        <h3>
                            Kenpachi Zaraki
                        </h3>
                    </li>
                    <img src="Files/Kenpachi Zaraki.jpg" alt="Kenpachi Zaraki">
                    <p style="color:white">
                        Ex mendigo, virou rato de academia que esquece de tomar banho, gosta de apanhar e sonha em ser pirata.
                    </p>

                    <li>
                        <h3>
                            Kisuke Urahara
                        </h3>
                    </li>
                    <img src="Files/Kisuke Urahara.jpg" alt="Kisuke Urahara">
                    <p style="color:white">
                        maluko é foda tem nem como zuar um estranho desses. Personagem favorito de criador dessa humilde pagína.
                    </p>

                    <li>
                        <h3>
                            Kuchiki Byakuya
                        </h3>
                    </li>
                    <img src="Files/Kuchiki Byakuya.jpg" alt="Kuchiki Byakuya">
                    <p style="color:white">
                        Gostoso, forte, cabelo lindo, orgulhoso ocupa o segundo lugar no meus favoritos.
                    </p>

                    <li>
                        <h3>
                            Kuchiki Rukia
                        </h3>
                    </li>
                    <img src="Files/Kuchiki Rukia.jpg" alt="Kuchiki Rukia">
                    <p style="color:white">
                        Sabe de nada, sempre duvidou do Ichigo, no começo era feia no fim parecia no que tava no começo (brincadeira, ela ficou melhorzina) achou um menino, pegou pra treinar ele e ele ficou melhor que ela.
                    </p>

                    <li>
                        <h3>
                            Orihime Inoue
                        </h3>
                    </li>
                    <img src="Files/Orihime Inoue.jpg" alt="Orihime Inoue">
                    <p style="color:white">
                        Lerdinha, tiktoker, peituda que todos ficam olhando, cadelinha do Ichigo, tem um poder forte e interessante.
                    </p>
                    <li>
                        <h3>
                            Retsu Unohana
                        </h3>
                    </li>
                    <img src="Files/Retsu Unohana.jpg" alt="Retsu Unohana">
                    <p style="color:white">
                        A pessoa que me indicou o anime disse que ela é uma das mais forte, até agora não vi ela lutar porem todos tem medo dela então o que resta é esperar. Mulher independente e empoderada.
                    </p>

                    <li>
                        <h2>
                            Sosuke Aizen
                        </h2>
                    </li>
                    <img src="Files/Sosuke Aizen.jpg" alt="Sosuke Aizen">
                    <p style="color:white">
                        Lixinho.
                    </p>

                    <li>
                        <h3>
                            Uryu Ishida
                        </h3>
                    </li>
                    <img src="Files/Uryu Ishida.jpg" alt="Uryu Ishida">
                    <p style="color:white">
                        Gótico que todos tinham medo mas agora é o que menos respeitam, forte porem muito suspeito.
                    </p>

                    <li>
                        <h3>
                            Yasutora Sado
                        </h3>
                    </li>
                    <img src="Files/Yasutora Sado.jpg" alt="Yasutora Sado">
                    <p style="color:white">
                        Ex construtor de prédio, nunca gosto de tecnologia e gosta de brincar no parquinho.
                    </p>
                </ul>
            </div>
            <br>
            <p style="color:white">icone do site: </p>
            <img src="Files/faviconFig.jpg" alt="">
            <br>
            <br>
            <button>
                <p>
                    <a href="Index.html">Voltar ao Ínicio</a>
                </p>
            </button>
        </center>
    </body>
</html>