<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página do Ichigo</title>
        <link rel="icon" href="Files/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="style.css">
        <script src="Index.js"></script>
    </head>
    <body>
        <center>
            <ul>
                <li id="lista">
                    <a class="tagverde" href="Contato.html"><h4>Entre em contato com migo</h4></a>
                </li>
                <li id="lista">
                    <a class="tagverde" href="Escuro.html"><h4>(modo escuro)</h4></a>
                </li>
                <li id="lista">
                    <a class="tagverde" href="Hollow.html"><h4>Forma de Hollow!!</h4></a>
                </li>
                <li id="lista">
                    <a class="tagverde" href="Traduz.html">
                        <h4>Dezeja Traduzir para Japonês? clique aqui!</h4>
                    </a>
                </li>
            </ul>
                <h1 id="Titulo">
                    Pagina Inicial
                </h1>
                <h5>
                    Sejam bem-Vindo a pagína oficiaL do Kurosaki Ichigo! To certo Datebayo!
            </h5>
            <h3>Caso queira navegar em topícos clique, a baixo:</h3>
            <ol>
                <li id="lista">
                    <a id="links" href="#SobreMim"><h4>Sobre eu</h4></a>
                </li>
                <li id="lista">
                    <a id="links" href="Figurantes.html"><h4>Conheça os principais figurantes!</h4></a>
                </li>
                <li id="lista">
                    <a id="links" href="#Perguntas"><h4>Perguntas Frequentes</h4></a>
                </li>
            </ol>
            <div>
                <h2 id="SobreMim">
                    Biografia
                </h2>
                <img src="Files/ImagemIchigo.jpg" alt="Ichigo Kurosaki">
                <p>
                    sou o ichigo, virei shinigami ingual em dead note porque minha mae morreu antes de eu nascer e agora eu tenho que lutar pra salvar meus amigos. No momento eu me considero indie e gosto de garotas de animes com peitões mas prefiro ficar na minha ouvindo musicas do Arctic Monkeys.
                </p>

                <h2 id="Perguntas">
                    Perguntas Frequentes
                </h2>       
                <ul>
                    <li>
                        <h4>
                            Namoro com a inoue?
                        </h4>
                    </li>
                    <p>
                        Nãoo gente, só amizade colorida nós dois.
                    </p>

                    <li>
                        <h4>
                            Sou homem?    
                        </h4>
                    </li>
                    <p>
                        Nas horas vagas sou sim.
                    </p>
                    
                    <li>
                        <h4>
                            Virgem?
                        </h4>
                    </li>
                    <p>
                        Sagitário.
                    </p>

                    <li>
                        <h4>
                            Qual meu estilo musicas favorito?
                        </h4>
                    </li>
                    <p>
                        Funk pesadão!!! "Só as cachorras.. au, au!!"
                    </p>

                    <li>
                        <h4>
                            Ishida namora?
                        </h4>
                    </li>
                    <p>
                        Gente ele é elaa.
                    </p>

                    <li>
                        <h4>
                            Quem é o pai do Sado?
                        </h4>
                    </li>
                    <p>
                        Bob o construtor.
                    </p>

                    <li>
                        <h4>
                        E o Miro? 
                        </h4>
                    </li>
                    <p>
                        Oxi, que Miro?
                        <br>
                        "miro no teu cu e atiro kkk"
                    </p>
                </ul>
            </div>
            <button>
                <a href="inicio.html">Voltar ao inicio?</a>
            </button>
            <br>
            <br>
            <button onclick="botaoClique()">
                <p>Clique aqui para adquirir um novo virus</p>
            </button>
            <br><br>
            <button onclick="Criador()">
                <p>clique para saber o criador</p>
            </button>
        </center>
        <br><br><br>
        <p>Criado por:Gustavo Henrique</p>
    </body>
</html>