<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OnlyFãs</title>
    </head>
    <body style="background-color: rgb(22, 21, 21);">
        <center>
            <h1 style="color:white">OlyFãs</h1>
        </center>
        <br>
        <br>
        <br>
        <center>
            <img src="Files/IchigoSemCamisa.jpg" alt="Ichigo peladin">
        </center>
        <p style="color:white"> R$13,00 bundinha
            <br>
            R$07,00 pé
            <br> 
            R$41,00 corpin
            <br>
            R$30,00 partes intimas
            <br>
            R$20,97 com roupa
        </p>
        <button>
            <a href="Comprar.html"><P style="color:black">Comprar</P></a>
        </button>
        <button>
            <a href="Contato.html"><p style="color:black">Fale comigo!</P></a>
        </button>
        <br>
        <br>
        <center>
            <button>
                <a href="Index.html"><h3 style="color:black">Voltar pagina inicial</h3></a>
            </button>
        </center>
    </body>

</html>