<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>Tinder</title>
    </head>
    <body style="background-color: black;">
        <center>
            <h1 style="color:white">Tinder</h1>
            <img src="Files/IchigoRoupaBankai.jpg" alt="Ichigo de terno segurando uma espada">
            <div style="color:white">
                <p>Busco alguem que vai entrar na jornada de matar Hollow com migo, quero alguem inteligente, não presiza ser tao inteligente porque eu gosto das doidinhas, eu quero uma menina forte e gosto de peitões, as ruivas são minhas preferidas, de preferencia as mais novas ou até da mesma idade</p>
            </div>
            <button>
                <a href="Contato.html"><p style="color:black">Chamar pra sair    </p></a>
            </button>
            <button>
                <a href="opcaoTWO.html"><p style="color:black">Passar para proximo</P></a>
            </button>
            <br>
            <br>
            <button>
                <a href=" "><h3 style="color:black">Voltar pagina inicial</h3></a>
            </button>
        </center>
    </body>
</html>