<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page not Fond</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body id="bodyTraduz">
        <p id="textNotFound">Error 123 uii delicia</p>
        <ul>
            <li style="color:white">
                <a href="Index.html">
                    <h4 id="textNotFound">Page not Fund (Clique aqui)</h3>
                </a>
            </li>
        </ul>
    </body>
</html>